extends header
block append content
	div(width='1002').container
		div.row(align='center')
			//介绍图片(轮换效果)
			div.carousel.slide#carousel-601179
				ol.carousel-indicators
					-for(var x=0;x<bannerinfo.length;x++)
						if(x==0)
							li.active(data-slide-to="0",data-target="#carousel-601179")
						else
							li(data-slide-to="#{x}",data-target="#carousel-601179")
				div.carousel-inner
					-for(var x=0;x<bannerinfo.length;x++)
						if(x==0)
							div.item.active
								img(alt="#{bannerinfo[x].title}",src="#{bannerinfo[x].bannerpic}")
								div.carousel-caption
									h4 #{bannerinfo[x].title}
									p #{bannerinfo[x].summary}
						else
							div.item
								img(alt="#{bannerinfo[x].title}",src="#{bannerinfo[x].bannerpic}")
								div.carousel-caption
									h4 #{bannerinfo[x].title}
									p #{bannerinfo[x].summary}
				a(data-slide="prev",href="#carousel-601179").carousel-control.left &lsaquo;
				a(data-slide="next",href="#carousel-601179").right.carousel-control &rsaquo;
			br
			br
			//正文内容
		div.row(align='center')
			div.span12
				ul.thumbnails
					-for(var x=0;x<textarr.length;x++)
						li.span4
							div.thumbnail
								img(src="#{textarr[x].titlepic}")
								h4(align='left') #{textarr[x].title}
								p(align='left') #{textarr[x].summary}
								p(align='right'): a(href="#{textarr[x].link}").btn 查看更多 >>

	script.
		$(document).ready(function(){
			$('.carousel').carousel({interval:2000});
		})
